<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>网上报名-合肥猎头网</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/user.css" type="text/css" media="all" />
</head>
<body>

	<div class="whiteBG">
		<div class="header_logo"></div>
	</div>

	<div class="midBox">
		<div class="midTitle">审核状态</div>
		<div class="cnt">
			<table width="100%" border="0" cellpadding="0" cellspacing="1"
				bgcolor="#E1E1E1">
				<tr>
					<td height="32" align="left" bgcolor="#FFFFFF" valign="middle"
						style="padding-left: 10px;"><b><span
							style="color: #666666">审核状态查询</span></b></td>
				</tr>
				<tr bgcolor="#FFFFFF">
					<td valign="top" align="center" height="448"
						style="padding-top: 30px;">
						<table width="80%" border="0" cellpadding="4" cellspacing="1"
							bgcolor="#E1E1E1">
							<tr bgcolor="#ffffff">
								<td style="height: 10px; text-align: right; width: 20%;">
									身份证号：</td>
								<td style="height: 10px; text-align: left;"><input
									type="text" name="idCardNo" /></td>
							</tr>
							<tr bgcolor="#ffffff">
								<td style="height: 10px; text-align: right;">密码：</td>
								<td style="height: 10px; text-align: left;"><input
									type="password" name="password" /></td>
							</tr>
							<tr bgcolor="#ffffff">
								<td>&nbsp;</td>
								<td height="22">
									<div style="text-align: left;">
										<input type="button" value="检  索"
											onclick="location.href='doReg.html'" style="width: 50px;"
											disabled="disabled" />
									</div>
								</td>
							</tr>
							<tr bgcolor="#ffffff">
								<td style="height: 10px; text-align: right;">审核状态：</td>
								<td style="height: 10px; text-align: left;"><font
									color="ff0000">未审核</font></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

	</div>

</body>
</html>
