<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="css/user.css" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>网上报名-合肥猎头网</title>
</head>
<body>
<div class="whiteBG">
  <div class="header_logo"> </div>
</div>
<div class="midBox">
  <div class="midTitle" style="width:400px;">报名流程</div>
  <div class="cnt">
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#E1E1E1">
      <tr>
        <td align="left" bgcolor="#f7f7f7" style="padding:5px;">
			◆ 网上报名：<br />
			1.填写个人信息并设置密码
		</td>
      </tr>
	  <tr>
        <td align="center" bgcolor="#FFFFFF" style="padding:5px;">
			<img src="images/flow/1.png" width="600" />
		</td>
      </tr>
	  <tr>
        <td align="left" bgcolor="#f7f7f7" style="padding:5px;">
			2.开始报名
		</td>
      </tr>
	  <tr>
        <td align="center" bgcolor="#FFFFFF" style="padding:5px;">
			<img src="images/flow/2.png" width="600" />
		</td>
      </tr>
	  <tr>
        <td align="left" bgcolor="#f7f7f7" style="padding:5px;">
			3.阅读报名须知并签订诚信承诺书
		</td>
      </tr>
	  <tr>
        <td align="center" bgcolor="#FFFFFF" style="padding:5px;">
			<img src="images/flow/3.png" width="600" />
		</td>
      </tr>
	  <tr>
        <td align="left" bgcolor="#f7f7f7" style="padding:5px;">
			4.填写资格审查表
		</td>
      </tr>
	  <tr>
        <td align="center" bgcolor="#FFFFFF" style="padding:5px;">
			<img src="images/flow/4.png" width="600" />
		</td>
      </tr>
	  <tr>
        <td align="left" bgcolor="#f7f7f7" style="padding:5px;">
			5.选择报考职位
		</td>
      </tr>
	  <tr>
        <td align="center" bgcolor="#FFFFFF" style="padding:5px;">
			<img src="images/flow/5.png" width="600" />
		</td>
      </tr>
	  <tr>
        <td align="left" bgcolor="#f7f7f7" style="padding:5px;">
			6.上传照片
		</td>
      </tr>
	  <tr>
        <td align="center" bgcolor="#FFFFFF" style="padding:5px;">
			<img src="images/flow/6.png" width="600" />
		</td>
      </tr>
	  <tr>
        <td align="left" bgcolor="#f7f7f7" style="padding:5px;">
			7.确认填写信息
		</td>
      </tr>
	  <tr>
        <td align="center" bgcolor="#FFFFFF" style="padding:5px;">
			<img src="images/flow/7.png" width="600" />
		</td>
      </tr>
    </table>
  </div>
</div>
<!--bottom-->
<div class="whiteBG"></div>
<!--bottom-->
</body>
</html>
