<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ}, [%t] %-5p - %m%n</pattern>
    </encoder>
  </appender>
  <appender name="debugLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <Encoding>UTF-8</Encoding>
    <File>debug.log</File>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ}, [%t] %-5p - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>debug.log.%d{yyyy-mm-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="systemLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <File>system.log</File>
    <Encoding>UTF-8</Encoding>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ}, [%t] %-5p - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>system.log.%d{yyyy-mm-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="auditLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
    <!--for further documentation-->
    <File>audit.log</File>
    <Encoding>UTF-8</Encoding>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ}, [%t] %-5p - %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>audit.log.%d{yyyy-mm-dd}</fileNamePattern>
    </rollingPolicy>
  </appender>
  <root level="ALL">
    <appender-ref ref="console"/>
    <appender-ref ref="debugLog"/>
    <appender-ref ref="systemLog"/>
    <appender-ref ref="auditLog"/>
  </root>
</configuration>